*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 60px;
}
nav{
    position: fixed;
    background-color: crimson;
    width: 100%;
    z-index: 100;
}
nav ul{
    float: right;
    margin-right: 10%;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: Georgia;
    padding: 7px 14px;
    border-bottom: 2.5px solid transparent;
    transition: .2s ease;
}

nav label.logo{
    color: white;
    font-size: 35px;
    font-family: Georgia;
    font-weight: bold;
    line-height: 80px;
    padding-right: 100px;
    padding-left: 50px;
}
nav label.logo span{
    color: rgb(241, 244, 81);
}
.checkbutton{
    font-size: 32px;
    color: white;
    float: right;
    margin-right: 55px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
.checkbox{
    display: none;
}
a:hover{
    border-bottom: 2.5px solid rgb(241, 244, 81);
    color: rgb(241, 244, 81);
}
nav button{
    display: inline-block;
}
nav button.reg{
    padding: 7px 14px;
    background-color: white;
    color: crimson;
    font-size: 23px;
    border: 3px solid white;
    border-radius: 10px;
    transition: .3s ease;
    font-weight: 600;
    cursor: pointer;
}
nav button:hover{
    background-color: crimson;
    color: white;
}


@media screen and (max-width:1000px) {
    nav ul li a{
        font-size: 20px;
    }
    nav label.logo{
        font-size: 30px;
    }
}
@media screen and (max-width:920px) {
    .checkbutton{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        text-align: center;
        left: -100%;
        background-color: beige;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 35px;
    }
    nav ul li a{
        color: black;
        font-size: 25px;
    }
    a:hover{
        color: crimson;
    }
    nav button.reg{
        border: 2px solid rgb(241, 244, 81);
    }
    .checkbox:checked~ul{
        left: 0;
    }

}

.main .image{
    background-image: url(image/sunflower.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
}

.main .content{
   max-width: 50rem;
   margin-left: 50px;
    
}
.main .content h1{
    font-size: 60px;
    line-height: 90px;
    color: rgb(241, 244, 81);
    font-weight: 800;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main .content span{
    color: white;
}
.main .content p{
    font-size: 25px;
    color: rgb(248, 134, 217);
    font-weight: 500;
    line-height: 30px;
}
.btn{
    position: absolute;
    bottom: 10%;
    left: 18%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    border-radius: 10px;
}
.btn:hover{
    color: crimson;
    border: 1px solid white;
    background-color: white;

}

.about .img h1{
    position: absolute;
    left: 40%;
    font-size: 60px;
    color: crimson;
    padding: 6px;
}
.about .img h1:hover{
    border-bottom: 3px solid #320808 ;
    transition: all .3s linear;
}
.about .img{
    display: flex;
    justify-content: center;
    background-image: url(image/scenary3.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
}
.about .img .us{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    color: #320808;
}
.services .img{
    background-image: url(image/sky.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services h1{
    display: block;
}
.services .img h1{
    position: absolute;
    left: 40%;
    font-size: 60px;
    color: white;
    padding: 6px;
}
.services .img h1:hover{
    border-bottom: 2.5px solid crimson;
    transition: all .3s linear;
}
.contact .img{
    background-image: url(image/scenary6.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
